
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Nishant Chamate's Portfolio</title>
</head>
<body style="background-color: #262626;">
    <div id="content">
        <h1>Nishant Chamate</h1>
        <p>Block-Chain Enthusiast. Code Wrangler.</p>

        <h2>About Me</h2>
        <p>
            I'm a B.Tech student in Electronics and Telecommunications at Sardar Patel Institute of Technology, passionate about software development. I enjoy exploring the intersection of technology and security, and I'm constantly learning and building projects to enhance my development skills.
        </p>

        <h2>Skills</h2>
        <div class="skills-container">
            <span>C++ (Proficient)</span>
            <span>Python (Basic)</span>
            <span>SQL</span>
            <span>HTML5</span>
            <span>CSS3</span>
            <span>JavaScript</span>
            <span>TailwindCSS, DaisyUI</span>
            <span>Git & Github</span>
            <span>Virtual Machines (VirtualBox)</span>
            <span>React.js</span>
            <span>Node.js</span>
            <span>Express.js</span>
            <span>MySQL</span>
            <span>MongoDB</span>
            <span>EJS</span>
            <span>JWT</span>
            <span>Asana</span>
            <span>PowerBI</span>
            <span>Postman</span>
            <span>Blender</span>
            <span>AutoCad</span>
            <span>Figma</span>
            <span>Linux</span>
            <span>Postgres</span>
            <span>SCSS/SASS</span>
            <span>Svelte</span>
            <span>NumPy</span>
            <span>Pandas</span>
        </div>

        <h2>Projects</h2>
        <ul>
            <li><a href="https://github.com/NishantChamate/VoteINDIA" target="_blank">VoteINDIA</a> - Developed a secure voting application using Node.js, Express.js, and MongoDB with JWT-based authentication, ensuring scalable user authentication and candidate management. Implemented real-time voting functionality, enabling users to view live vote counts and enhancing engagement and transparency.</li>
            <li><a href="https://colab.research.google.com/drive/168NfvmRo5t1jB7uOgXmxpK0_o6InCDGh?usp=sharing" target="_blank">Detecting-Credit-Card-Fraud</a> - Implemented Isolation Forests for fraud detection, achieving 99.74% accuracy in a dataset with 0.172% fraud cases. Optimized detection precision by comparing Isolation Forests with LOF and SVM, showing a 30% improvement and used PCA-transformed features to enhance model performance and efficiency.</li>
            <li><a href="https://github.com/NishantChamate/Blinkit-Data-Analysis" target="_blank">Blinkit Data Analysis Dashboard</a> - Created interactive Power BI visualizations for Blinkit, analyzing sales trends, customer behavior, and delivery efficiency to provide actionable business insights. Enhanced decision-making with real-time dashboards, integrating multiple data sources and optimizing operations through detailed analysis of sales data, customer demographics, and inventory levels.</li>
        </ul>

        <h2>Certifications</h2>
        <ul>
            <li><a href="#" target="_blank">Barclays Cybershala (Cybersecurity Course)</a></li>
            <li><a href="https://support.google.com/analytics/answer/15068052#zippy=,get-started-using-google-analytics-introduction,go-further-with-advanced-features-in-google-analytics-advanced,answer-business-questions-with-google-analytics-intermediate,use-google-analytics-for-your-business-beginner" target="_blank">Advanced Google Analytics</a></li>
        </ul>

        <h2>Achievements</h2>
        <ul>
            <li>Semifinalist in Google Maps Hackathon</li>
            <li>Peak Rating – 1543 | 600+ Q's | 150 Days Streak</li>
            <li>Achieved SQL Badge on Leetcode</li>
        </ul>

        <h2>Position of Responsibility</h2>
        <ul>
            <li>
                <h3>Managing Editor (VCP), SPark, SPIT</h3>
                <p>May 2023 - July 2024</p>
                <ul>
                    <li>Organized impactful events "Open Mic" attracting over 500 attendees.</li>
                    <li>Increased college event audience by 85%, conducted a photography workshop, improved the SPark Drive Database
                        with abstraction for better data management and security, and managed all financial aspects.</li>
                </ul>
            </li>
        </ul>

        <h2>Contact</h2>
        <p>
            <a href="mailto:nishant.chamate@spit.ac.in" target="_blank">Email</a> | 
            <a href="https://github.com/NishantChamate" target="_blank">GitHub</a> | 
            <a href="https://www.linkedin.com/in/nishant-chamate" target="_blank">LinkedIn</a> | 
            <a href="https://leetcode.com/nishant_chamate" target="_blank">Leetcode</a>
        </p>
    </div>
</body>
</html>
